# ✅ requirements.txt
setuptools==69.5.1
wheel==0.43.0

python-binance==1.0.17
aiohttp==3.9.5
aiofiles==23.2.1

# ✅ 舊版 numpy 搭 pandas 與 pandas-ta
numpy==1.24.4
pandas==1.5.3
pandas-ta==0.3.14b0

python-dotenv==1.0.1
SQLAlchemy==2.0.30
